<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB8VFY8ZG23XxgUSEn5UVuAz5865Uhkm6o</string>
	<key>GCM_SENDER_ID</key>
	<string>790141080371</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quon2</string>
	<key>PROJECT_ID</key>
	<string>quon2-45c4f</string>
	<key>STORAGE_BUCKET</key>
	<string>quon2-45c4f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:790141080371:ios:1e116a749c47e6c19ba446</string>
</dict>
</plist>